body {
    background: url("forest.jpeg") no-repeat center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-center {
    font-family: 'Courgette', cursive;
}
