body {
    background: url("Wand.png") no-repeat center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fancy-text {
    font-family: 'Courgette', cursive;
}